<!DOCTYPE html>
<html>
<head>
  <title>AndrewDemo</title>
  <%= stylesheet_link_tag :all, :application, :web_url %>
  <%= javascript_include_tag "jquery", "jquery.min", "jquery_ujs", "web_url.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
